body {
	color: #444;
	font-family: 'Montserrat Alternates', sans-serif;
}

.pointer {
	cursor: pointer;
}

h1, h2, h3 {
	color: $primary;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

.poppins {
	font-family: 'Poppins', sans-serif;
}

.montserrat {
	font-family: 'Montserrat Alternates', sans-serif;
}

.q-btn, .q-dialog__title {
	font-family: 'Poppins', sans-serif;
}
